body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.navigationpanel {
    height: 30px;
    background-color: #1F2937;
}

.introduction {
    height: 200px;
    background-color: #1F2937;
}

/** Manual fold: .information, .infowrapper, .infobox, #image **/
.information {
    padding: 60px;
}

.infowrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.infobox {
    width: 300px;
}

#image {
    width: 300px;
    height: 240px;
    object-fit:cover;
    overflow: hidden;
    background-color: red;
}


/** Manual fold: .testemonials, .featuredquote, .quote, .quoter **/
.testemonials {
    background-color: #E5E7EB;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredquote {
    max-width: 400px;
    
}

.quote {
    font-style: italic;
    text-align: center;
}

.quoter {
    text-align: right;
    font-weight: 700;
}


.callsection {
    height: 200px;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 10px;
}