body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/** Manual Fold: .navigationpanel, .headerlogo, .headerlinkwrapper, #headerlink **/
.navigationpanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 15px;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
}

.headerlinkwrapper {
    display: flex;
    gap: 20px;
}

#headerlink {
    text-decoration: none;
}

#headerlink:hover {
    font-style: italic;
}

.introduction {
    padding: 80px;
    gap: 20px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    background-color: #1F2937;
}

.introtext {
    width: 500px;
}

.herotext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.herosubtext {
    font-size: 18px;
    color: #e5e7eb;
}

#firstbutton {
    background: #3882F6;
    border: none;
}

#firstbutton:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

#introimage {
    border: 3px solid #1F2937;
    border-radius: 15px;
    width: 400px;
    height: 240px;
    object-fit:cover;
    overflow: hidden;
    background-color: red;
}

/** Manual fold: .information, .infowrapper, .infobox, #image **/
.information {
    text-align: center;
}

.infowrapper {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.infobox {
    width: 300px;
}

#image {
    border: 3px solid #1F2937;
    border-radius: 25px;
    width: 300px;
    height: 240px;
    object-fit:cover;
    overflow: hidden;
    background-color: red;
}


/** Manual fold: .testemonials, .featuredquote, .quote, .quoter **/
.testemonials {
    background-color: #E5E7EB;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredquote {
    max-width: 400px;
    
}

.quote {
    font-style: italic;
    text-align: center;
}

.quoter {
    text-align: right;
    font-weight: 700;
}

/** Manual Fold: .callsection, .bluebox, .bluetext, .button, .button:hover **/
.callsection {
    padding: 80px;
    padding-left: 120px;
    padding-right: 120px;
}

.bluebox {
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: #F9FAF8;
    align-items: center;
    min-width: 300px;
}

.bluetext {
    min-width: 200px;
    max-width: 400px;
}

.button {
    border-radius: 5px;
    border: 2px solid #F9FAF8;
    background: transparent;
    text-decoration: none;
    color: #F9FAF8;
    height: 30px;
    width: 80px;
    min-height: 30px;
    min-width: 80px;
    text-align: center;
}

.button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

footer {
    background-color: #1F2937;
    text-align: center;
}